.breadcrumb-dh {
    background-color: transparent;
    padding: 1.25rem 0;
    font-family: 'NeueHansKendrick_thin';
    color: #696969;
    font-size: 0.8rem;

    > .active {
        color: black;
    }

    a {
        color: #696969;
    }
}

@media screen and (max-width: 769px) {

    .breadcrumb-dh {
        display: none !important;
        visibility: hidden !important;
    }
}
