footer {
    background: $ddh-base-body;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;

    a {
        color: #333;
        cursor: pointer;
        font-size: .8rem;
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
}

.footer {

    &__sitemap {
        list-style: none;
        display: block;

        li {
            display: inline-block;
        }
    }
    &__comp {
        text-align: center;
        &--soc {
            a {
                color: #fff;
                font-size: 1.5rem;
            }
        }
        p {
            font-size: .8rem;
            padding: 1rem 0 0 0;
            margin-bottom: 0;
            a {
                color: #fff;

            }
        }
    }
}
