.navbar-mb {
    z-index: 90;

    &__brand {
        position: absolute;
        top: 4%;
        a {
            color: #656565 !important;
        }
    }

    &--name {
        font-family: 'NeueHansKendrick';
        font-size: 1.4rem;
        a {
            color: #fff;

        }
    }

    &--desc {
        font-family: 'NeueHansKendrick_thin';
        font-size: 0.6rem;
        color: #fff;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            &:first-child {
                padding-top: 1rem;
            }

            a {
                padding: 1rem 0;
            }
        }
    }

    .menu-opener, .menu-opener:hover, .menu-opener.active,
    .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after,
    .menu, .menu.active {
        -webkit-transition: 250ms all;
        transition: 250ms all;
        z-index: 99;
    }

    .menu-opener.active {
        background: none;
    }

    .menu-opener {
        z-index: 100 !important;
        cursor: pointer;
        height: 50px;
        position: absolute;
        top: 2%;
        right: 2%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 50px;
        background: #656565;
    }

    .menu-opener-inner {
        background: #fff;
        height: .25rem;
        margin-left: .6rem;
        margin-top: 1.5rem;
        width: 2rem;
    }
    .menu-opener-inner::before {
        background: white;
        content: '';
        display: block;
        height: .25rem;
        width: 2rem;
    }
    .menu-opener-inner::after {
        background: white;
        content: '';
        display: block;
        height: .25rem;
        margin-top: .25rem;
        width: 2rem;
    }
    .menu-opener-inner::before {
        -webkit-transform: translateY(-0.75rem);
        -ms-transform: translateY(-0.75rem);
        transform: translateY(-0.75rem);
    }
    .menu-opener-inner::after {
        -webkit-transform: translateY(0.25rem);
        -ms-transform: translateY(0.25rem);
        transform: translateY(0.25rem);
    }
    .menu-opener-inner.active {
        background: transparent;
    }
    .menu-opener-inner.active::before {
        -webkit-transform: translateY(0rem) rotate(-45deg);
        -ms-transform: translateY(0rem) rotate(-45deg);
        transform: translateY(0rem) rotate(-45deg);
    }
    .menu-opener-inner.active::after {
        -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
        -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
        transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    }

    .menu {
        background: #656565;
        color: transparent;
        height: 64px;
        position: absolute;
        top: 2%;
        left: 1%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 0;
        z-index: -1;
        opacity: 1;
    }
    .menu.active {
        width: -webkit-calc(100% - 2rem);
        width: calc(100% - 2rem);
    }
    .menu.active .menu-link {
        font-family: 'NeueHansKendrick_thin';
        color: #b0b0b0;
        font-size: 1rem;
    }

    .menu-inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 100%;
        list-style-type: none;
        margin: 0;
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 0;
    }

    .menu-link {
        color: transparent;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        font-size: 2rem;
        font-weight: 100;
        height: 100%;
        text-align: center;
        text-decoration: none;
    }

    @media screen and (max-width: 768px) {
        .menu {
            height: auto;
        }
        .menu-inner {
            display: block;
        }
        .menu-link {
            padding: 10px 0;
            font-size: 1.2em;
        }
        .menu.active {
            width: -webkit-calc(100% - 0.5rem);
            width: calc(100% - 0.5rem);
        }
    }
}

.sub-menu-mb {
    color: #fff;
    height: 86vh;
    padding: 6.5rem 1rem;
    text-align: center;
    background-image: url('/assets/web/img/h.jpg');

    a {
        color: #fff;
        display: block;
        padding: .25rem 0;
    }

    .card {
        background: transparent;
    }

    .card-header {
        background: transparent;
    }

    //    &__none {
    //        display: none !important;
    //    }
}

@media screen and (min-width: 769px) {

    .navbar-mb {
        display: none;
    }
}
