.navbar {
    background: $ddh-base-body;
    margin-bottom: 0;
    text-align: center;
    color: $ddh-base-text;

    &__comp {
        &--logo {
            font-size: 1.2rem;
        }
        &--name {
            font-family: 'NeueHansKendrick';
            font-size: 1.4rem;
        }
        &--desc {
            font-family: 'NeueHansKendrick_thin';
            font-size: 0.6rem;
        }
    }

    &__menu {
        padding-left: 0;
        margin: 1rem 0;
        list-style: none;
        display: block;

        li {
            display: inline-block;
            padding: 1rem .5rem 0 .5rem;

            &:after {
                content: '|';
                padding-left: 1rem;
            }

            &:last-child {
                &:after {
                    content: '';
                }
            }

            a {
                font-family: 'NeueHansKendrick_thin';
                color: $ddh-base-text;
                font-size: 0.8rem;
            }
        }
    }
}
