.navbar {
    background: $ddh-base-body;
    margin-bottom: 0;
    text-align: center;
    color: $ddh-base-text;
    padding: .5rem 1rem 0 .5rem;

    &__comp {
        &--logo {
            font-size: 1.2rem;
        }
        &--name {
            font-family: 'NeueHansKendrick';
            font-size: 1.4rem;
        }
        &--desc {
            font-family: 'NeueHansKendrick_thin';
            font-size: 0.6rem;
        }
    }

    &__menu {
        padding-left: 0;
        margin: 1rem 0 0;
        list-style: none;
        display: block;

        li {
            display: inline-block;

            a {
                font-family: 'NeueHansKendrick_thin';
                color: #b0b0b0;
                font-size: 0.8rem;
                margin: 1rem .5rem;
                display: block;
            }
        }

        &--toggle {
            margin-left: 0;

            ul {
                left: auto;
                background: $ddh-base-body;
                border-radius: 0;
                margin: 0;
                list-style: none;
            }

            li {
                display: block;
            }

            &:hover > ul.dropdown-menu {
                display: block;
            }
        }
    }
}
