{% extends 'DhomeWebBundle:web:layout-index.html.twig' %}

{% block body %}
    <div class="sub-menu-mb">
        <div class="card">
            <h3 class="card-header">PRESS</h3>
            <div class="card-block">
                <a href="{{ path('dhome_web_press_all_index') }}"><i class="fa fa-angle-right"></i>ALL PRESS</a>
                {% set pressSubmenus = dhome_press_submenu() %}

                {% if pressSubmenus|length %}
                    {% for r in pressSubmenus %}
                        <a href="{{ path('dhome_web_press_category_index', {'categoryId': r.id, 'categoryName': r.name}) }}">
                            <i class="fa fa-angle-right"></i>{{ r.name|upper }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
