{% extends 'DhomeWebBundle:web:layout-index.html.twig' %}

{% block body %}
    <div class="sub-menu-mb">
        <div class="card">
            <h3 class="card-header">INSPIRATIONS</h3>
            <div class="card-block">
                <a href="{{ path('dhome_submenuins') }}"><i class="fa fa-angle-right"></i>ALL INSPIRATIONS</a>
                <a href="#"><i class="fa fa-angle-right"></i>SUB MENU HERE</a>
                <a href="#"><i class="fa fa-angle-right"></i>SUB MENU HERE</a>
                <a href="#"><i class="fa fa-angle-right"></i>SUB MENU HERE</a>
                <a href="#"><i class="fa fa-angle-right"></i>SUB MENU HERE</a>
                <a href="#"><i class="fa fa-angle-right"></i>SUB MENU HERE</a>
            </div>
        </div>
    </div>
{% endblock %}
