{% extends 'DhomeWebBundle:web:layout-index.html.twig' %}

{% block body %}
    <div class="sub-menu-mb">
        <div class="card">
            <h3 class="card-header">COLLECTIONS</h3>
            <div class="card-block">
                <a href="{{ path('dhome_web_collection_all_index') }}"><i class="fa fa-angle-right"></i>ALL COLLECTIONS</a>
                {% set collectionSubmenus = dhome_collection_submenu() %}

                {% if collectionSubmenus|length %}
                    {% for r in collectionSubmenus %}
                        <a href="{{ path('dhome_web_collection_category_index', {'categoryId': r.id, 'categoryName': r.name}) }}">
                            <i class="fa fa-angle-right"></i>{{ r.name|upper }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
