.carousel-index {

    .carousel-inner {
        height: 650px;
    }

    .carousel-indicators {
        left: 75%;
        width: auto;
    }
}

@media screen and (max-width: 768px) {

    .carousel-index {

        .carousel-inner {
            height: auto;

            img {
                height: 500px;
                max-width: initial;
            }
        }
    }
}
