.inspi {
    letter-spacing: 0.1rem;

    &__header {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: #656565;
    }

    a {
        color: #656565 !important;
        letter-spacing: 0.1rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
    }
    &__sub-title {
        font-size: 1.2rem;
        font-weight: 700;
        padding-top: 2rem;
    }
    &__time {
        font-size: 0.8rem;
    }
    &__ct {

    }
}

@media screen and (max-width: 768px) {

    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
