.project {
    &__header {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: #656565;
    }

    a {
        color: #656565 !important;
        letter-spacing: 0.1rem;
    }
}
