.project {
    &__header {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: #656565;
    }

    a {
        color: #656565 !important;
        letter-spacing: 0.1rem;
    }
}

.project-show-pictures {
    img {
        width: 100%;
        margin: .5rem 0;
    }

    i {
        font-size: 1.2rem;
    }

    &__t {
        height: 115px;
        overflow: hidden;
    }
}

.project-show-box {

    &__share {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .project-show-box {
        padding-top: 3rem;
    }

    .project-show-pictures {

        &__t {
            height: 70px;
            overflow: hidden;
        }
    }
}
