{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% block content %}

    {% block breadcrumb %}
        {% include 'DhomeWebBundle:web/partials:_breadcrumb.html.twig' %}
    {% endblock %}
    <div class="row">
        <div class="inspi col-md-9">
            <div class="inspi__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <div class="inspi__img">
                <img class="img-fluid img-lazy" src="{{ asset('ui/web/img/h.jpg') }}">
            </div>
            <div class="inspi__time">{{ ("30 OCT 2016")|date }}</div>
            <div class="inspi__sub-title">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <div class="inspi__ct">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>

        </div>
        <div class="col-md-3 inspi__similar">
            <div class="inspi">
                <div class="inspi__header">Latest</div>

                {% for i in 0..2 %}
                    <div class="card inspi__card">
                        <a href="">
                            <img class="card-img-top img-fluid img-lazy" src="{{ asset('ui/web/img/b.jpg') }}" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title"><a href="#">Card title that wraps to a new line</a></h4>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {% block paginator %}
        {% include 'DhomeWebBundle:web/partials:_paginator.html.twig' %}
    {% endblock %}

{% endblock %}
