{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% block content %}

    <div class="contact">
        <div class="contact__ct">

            <div class="jumbotron">
                <h1 class="display-5">DDHOMETH</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="m-y-2">

                <div class="row contact__add">
                    <div class="col-md-6">
                        <p>31/66666 title that wraps to a new line</p>
                        <p>title that new line</p>
                        <p>12190</p>
                    </div>
                    <div class="col-md-6 contact__tel">
                        <p><i class="fa fa-phone" aria-hidden="true"></i>(+66)85-33304033</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i>085-00004033</p>

                        <div class="contact__soc">
                            FOLLOW US:
                            <a href="" class="icon-rounded"><i class="fa fa-facebook"></i></a>
                            <a href="" class="icon-rounded"><i class="fa fa-twitter"></i></a>
                            <a href="" class="icon-rounded"><i class="fa fa-pinterest"></i></a>
                            <a href="" class="icon-rounded"><i class="fa fa-instagram"></i></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6 contact__map"></div>

        </div>
    </div>

{% endblock %}
