{% extends 'DhomeWebBundle:web:layout-index.html.twig' %}

{% block carousel %}
    <div id="carousel-index" class="carousel slide carousel-index" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for i in 0..5 %}
                <li data-target="#carousel-index" data-slide-to="{{ i }}" class="{% if i == 0 %} active {% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for i in 0..5 %}
                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                    <img class="img-lazy" src="{{ asset('ui/web/img/h.jpg') }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
