{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% block carousel %}
    <div id="carousel-index" class="carousel slide carousel-index" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for i in 0..5 %}
                <li data-target="#carousel-index" data-slide-to="{{ i +1 }}" class="{% if i == 0 %} active {% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="{{ asset('ui/web/img/h.jpg') }}">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('ui/web/img/h.jpg') }}">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('ui/web/img/h.jpg') }}">
            </div>
        </div>
    </div>
{% endblock %}
