{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% block content %}

    {% block breadcrumb %}
        {% include 'DhomeWebBundle:web/partials:_breadcrumb.html.twig' %}
    {% endblock %}

    <div class="project">
        <div class="project__header">PROJECTS</div>

        {% include 'DhomeWebBundle:web:_gallery.html.twig' %}
    </div>

    {% block paginator %}
        {% include 'DhomeWebBundle:web/partials:_paginator.html.twig' %}
    {% endblock %}

{% endblock %}
