{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% block content %}
    <div class="gallery">
        <div class="row">
            {% for i in 0..3 %}
                <div class="col-lg-4 col-sm-6 col-xs-12 gallery__tumbnail">
                    <a href=""><img class="img-fluid img-lazy" data-original="{{ asset('ui/web/img/h.jpg') }}"></a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 gallery__tumbnail">
                    <a href=""><img class="img-fluid img-lazy" data-original="{{ asset('ui/web/img/a.jpg') }}"></a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 gallery__tumbnail">
                    <a href=""><img class="img-fluid img-lazy" data-original="{{ asset('ui/web/img/b.jpg') }}"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
