{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% from 'DhomeWebBundle:web/partials:_paginator.html.twig' import pagination %}

{% block content %}

    {% block breadcrumb %}
        {% block breadcrumb %}
            <ol class="breadcrumb breadcrumb-dh">
                <li><a href="{{ path('dhome_homepage') }}">Home</a></li>
                <li class="active"><a href="#">Projects</a></li>
            </ol>
        {% endblock %}
    {% endblock %}

    <div class="project">
        <div class="project__header">PROJECTS</div>

        {% include 'DhomeWebBundle:web:_project-gallery.html.twig' %}
    </div>

    {% block paginator %}
        {{ pagination(projects) }}
    {% endblock %}

{% endblock %}
