<footer>
    <ul class="footer__sitemap">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="footer__comp">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-pinterest"></i>
        <i class="fa fa-instargram"></i>
        <p>DDHOMETH Copy right 2016</p>
    </div>
</footer>
