<nav class="navbar-mb">
    <div class="container">
        <div class="navbar-mb__brand">
            <div class="navbar-mb--name">
                <a href="{{ path('dhome_homepage') }}">DDHOME</a>
            </div>
            <div class="navbar-mb--desc">
                <a href="{{ path('dhome_homepage') }}">LIVING | DECOR</a>
            </div>
        </div>
        <div class="menu-opener">
            <div class="menu-opener-inner"></div>
        </div>
        <div class="menu">
            <div class="menu-inner">
                <div class="navbar-mb--name"><a href="{{ path('dhome_homepage') }}">DDHOME</a></div>
                <div class="navbar-mb--desc">LIVING | DECOR</div>
                <ul>
                    <li><a href="#" class="menu-link"><i class="fa fa-angle-right"></i>INSPIRATIONS</a></li>
                    <li><a href="#" class="menu-link"><i class="fa fa-angle-right"></i> PROJECTS</a></li>
                    <li><a href="#" class="menu-link"><i class="fa fa-angle-right"></i> COLLECTIONS</a></li>
                    <li><a href="#" class="menu-link"><i class="fa fa-angle-right"></i> PRESS</a></li>
                    <li><a href="#" class="menu-link"><i class="fa fa-angle-right"></i> CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
