<nav class="navbar navbar-fixed-top bg-faded">
    <div class="container">
        <div class="navbar__comp">
            <div class="navbar__comp--logo"><i class="fa fa-home"></i></div>
            <div class="navbar__comp--name">DDHOME</div>
            <div class="navbar__comp--desc">LIVING | DECOR</div>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__menu--toggle">
                <a href="#" data-toggle="dropdown">PROJECTS</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
            <li class="navbar__menu--toggle">
                <a href="#" data-toggle="dropdown">COLLECTION</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
            <li class="navbar__menu--toggle">
                <a href="#" data-toggle="dropdown">PRESS</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
            <li class="navbar__menu--toggle">
                <a href="#" data-toggle="dropdown">CONTACT US</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="nav-expanded" id="expanded">

</div>
