<nav class="navbar navbar-dt navbar-fixed-top bg-faded">
    <div class="container">
        <div class="navbar-brand navbar-dt__comp">
            <div class="navbar-dt__comp--name"><a href="{{ path('dhome_homepage') }}">DDHOME</a></div>
            <div class="navbar-dt__comp--desc">LIVING | DECOR</div>
        </div>
        <ul class="navbar-dt__menu">
            <li class="navbar-dt__menu--toggle">
                <a href="#" data-toggle="dropdown">VISION</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
            <li class="navbar-dt__menu--toggle">
                <a href="#" data-toggle="dropdown">PROJECTS</a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <div class="input-group navbar-dt__search">
                            <input type="text" class="form-control" placeholder="Search our projects...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
            <li class="navbar-dt__menu--toggle">
                <a href="#" data-toggle="dropdown">COLLECTION</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
            <li class="navbar-dt__menu--toggle">
                <a href="#" data-toggle="dropdown">PRESS</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
            <li class="navbar-dt__menu--toggle">
                <a href="#" data-toggle="dropdown">CONTACT US</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

{% include '@DhomeWeb/web/partials/_navbar.mobile.html.twig' %}
