{#<nav>#}
    {#<ul class="pager paginate">#}
        {#<li ><a href="#">Newer</a></li>#}
        {#<li ><a href="#">Older</a></li>#}
    {#</ul>#}
{#</nav>#}
{% macro pagination(paginator) %}
    {% if paginator.haveToPaginate() %}
        <nav class="pagina">
            {{ pagerfanta(paginator, 'twitter_bootstrap4_translated') }}
        </nav>
    {% endif %}
{% endmacro %}
