{% extends 'DhomeWebBundle:admin:layout.html.twig' %}

{% block topbar %}
    <ol class="breadcrumb">
        <li class="active">{{ 'trans.admin.breadcrumb.dashboard'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    This page id dashboard.
{% endblock %}
