<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block head %}
            <meta charset="UTF-8">
            <title></title>
            <meta name="description" content="">
            <meta name="keywords" content="">
            <meta name="author" content="">
        {% endblock %}

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel=stylesheet>
            <link rel="stylesheet" href="{{ asset('assets/admin/css/style.css') }}" type="text/css"/>
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        {% block navbar %}
            {% include 'DhomeWebBundle:admin:navbar.html.twig' %}
        {% endblock %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    {% include 'DhomeWebBundle:admin:menu.html.twig' %}
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="row page-header">
                        {% block header %}
                        {% endblock %}
                    </div>
                    <div class="row">
                    <div id="topbar">
                        {% block topbar %}
                            {% include 'DhomeWebBundle:admin:_breadcrumb.html.twig' %}
                        {% endblock %}
                    </div>
                    </div>

                    {% include 'DhomeWebBundle:admin:_flashes.html.twig' %}

                    <div class="card card-block">
                        {% block content %}
                        {% endblock %}
                    </div>

                    {#<hr>#}

                    {#Confirmation modal#}
                    {% include 'DhomeWebBundle:admin:confirm-modal.html.twig' %}
                    {#</div>#}
                </div>

            </div>
        </div>
        {% block javascripts %}
            {{ tinymce_init() }}
            <script src="{{ asset('assets/admin/js/app.js') }}"></script>
        {% endblock javascripts %}
    </body>
</html>
