<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">DDHometh</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Vision <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Collection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Press</a>
        </li>
    </ul>
</nav>
